@charset "UTF-8";
#gbSection{
    margin-top: 5%;

    margin-bottom: 5%;
}
#pg_title{
    font-size: 20px;
    text-align: center;
}
#insert_goods, #insert_goods th, #insert_goods tr, #insert_goods td{
    /* border: solid 1px blue; */
}
#insert_goods{
    width: 80%;
    height: 1000px;
    margin: auto;


}
#insert_goods th{
    font-size: 16px;
    font-weight:normal;
    text-align: left;
    padding-left: 6%;
    width : 250px;
}

#gtitle{
    width: 90%;
    height: 50px;
    border-radius: 10px;
    border: solid 1px #c4c4c4;
    background-color: #ffffff;
    padding-left: 2%;
}
.gcate ul{
    list-style-type:none;
}
.gcate ul button{
    border:0;
    outline:0;
    background-color:white;
    padding-bottom:4px;
}

.gcate{
    display: inline-block;
    width: 25%;
    height: 320px;
    border-radius: 10px;
    padding-top: 1%;
  border: solid 1px #c4c4c4;
  background-color: #ffffff;
  margin-top:1%;
  margin-bottom:1%;
  margin-right : 7.4%;
}

#cate_md ul{
	display:none;

}
#cate_sm ul{
	display:none;

}
#deal_town{
    width: 208px;
    height: 45px;
    padding: 8px 0px 8px 20px;
    border-radius: 10px;
    border: solid 1px #c4c4c4;
    background-color: #ffffff;
    font-size: 15px;
     margin-bottom:1%;
}
#gprice{
    width: 190px;
    height: 42px;
    padding-left: 15px;
    border-radius: 10px;
    border: solid 1px #c4c4c4;
    background-color: #ffffff;
    margin-bottom:1%;;
}
#godds_condition div{
    display: inline;
    width: 136px;
    height: 50px;
    padding: 8px 13px 8px 13px;
    border-radius: 10px;
    border: solid 1px #c4c4c4;
    background-color: #ffffff;
    font-size: 15px;
    margin-right: 2%;
}
#gcontent{
    width: 90%;
    height: 300px;
    border-radius: 10px;
    border: solid 1px #c4c4c4;
    background-color: #ffffff;
    padding-top: 20px;
    padding-left: 15px;
    margin-top: 15px;
}
#button-add-file{
    width: 180px;
    height: 170px;
    border-radius: 10px;
    border: solid 1px #c4c4c4;
    background-color: #ffffff;
    text-align: center;
 	float : left;

}
#button-add-file img{
	 width: 100px ;
    height: 100px ;
}
#preview{
	float : left;
	width: 180px;
    height: 170px;
    border-radius: 10px;
    border: solid 1px #c4c4c4;
    background-color: #ffffff;
    text-align: center;
}
#greset{
width: 171px;
  height: 47px;
  border-radius: 27px;
  font-size: 16px;
  border: solid 1px #000000;
  background-color: #ffffff;
  margin-left: 35%;
  margin-top: 2.5%;
}
#gsubmit{
    width: 171px;
  height: 47px;
  border-radius: 27px;
  font-size: 16px;
  background-color: #000000;
color : white;
margin-left: 10%;
margin-top: 2.5%;
}

/*photo*/
#photo_area{
	/* border : 1px solid red !important; */
	width: 1300px;
    height: 200px;
     display: inline-block;
    
}
#photo_area div
{
	/* border : 1px solid black !important;  */
	display: inline;
	width: 18%;
    height: 190px;
}
#photo_area div img
{
	margin-top : -200px;
	width: 200px;
    height: 190px;
    margin:auto; 
    
}
.button-delete-file{
	cursor : pointer;
	
}
.photo_img{
	width: 150px;height: 150px;margin-left:20px;
 border:0;
}