@charset "UTF-8";
#gbSection{
    margin-bottom: 150px;
    margin-top:50px;
}

#gfilter{
		margin-left: 15%;
	width:18px !important;
	height:18px !important;
	padding-top : 0px !important;
}
#changeTown{
	width: 25px !important;
	height: 25px !important; 
	padding-left: 25px !important; 
	margin-right: 10% !important;
}
#allCate{
	padding-left: 5px  !important; 
	font-size : 16px !important; 
}
#allCate:hover, #gfilter:hover{
	cursor : pointer;
}
#goodlist{
    width: 90%;
    margin: auto;
    margin-top: 3%;
    
}
.goodsWrapTr{
	height: 360px;
}
#goodlist td{
	width : 200px;
}
.goodlistimg{
    width: 200px;
    height: 200px;
   	margin-left: 15%;
    padding-top: 10px; 
    margin-bottom:10px;
}

.price_font{
	width:200px;
	margin-left:15%;
	font-size: 15px !important;
	 margin-top : -35px;
}
.title_font{
	width:200px;
	margin-left:15%;
	font-size: 15px !important;
    font-weight: 500;
}
.date_font{
	width:200px;
    font-size: 13px !important;
    color: #9a9999 !important;
    text-align : right !important;
    margin-top : -35px;
    margin-left:15%;

}
.id_font{
	width:200px;
	font-size: 13px; 
	margin-top:3px;
	margin-left:15%;
    color: #949999;
}
.deleteBtn{
	font-size: 13px; 
	margin-top : -20px;
    margin-right : 23%;
	text-decoration: underline;
	cursor: pointer;
	text-align : right !important;
}

#pageArea{
    margin-top: 3%;
    color: #9a9999;
    margin-left: 31%; 
    display: inline-block;
}
#pageArea a{
	color:#949999;
}
#pageArea a:hover{
    color:  #05aad1;
    cursor: pointer;
}
#writeBtn{ 
    margin-left: 31%; 
    display: inline-block;
     width: 130px;
     height: 35px;
     border-radius: 27px;
     font-size: 14px;
     background-color: #000000;
     border: 0px;
   color : white;
   }
/* nav */

.catebar{
    width:250px;
    height:450px;
    background : white;
    position:fixed;
    top:0;
    left:-300px;
    z-index: 1;
    transition:all .35s;
    margin-top: 110px;
}

.catebar button{
    color:#222;
    font-size:16px;
    background: none;
    border:0px;
    padding-top:30px;
    margin-left:200px;
}
.catebar ul {
    margin:0;
    padding:0;
}
.catebar ul li{
    text-align: center;
    list-style: none;
    color:#222;
    font-size:16px;
    margin-bottom:30px; 
}

.catebar ul li a{
    text-decoration: none;
    color:#222;
}

.catebar ul li a:hover{
    color:#05AAD1;
}


/* .caetbar ul li:nth-child(1){margin-top:10px;} */
/*삭제모달*/
#delete_tb,#delete_tb tr, #delete_tb td {
  /* border: 1px solid red; */
}
#delete_tb{
    padding-top: 50px;
    margin: auto;
    width: 80%;
    height: 480px;
}
#delete_tb p{
    opacity: 0.95;
  font-size: 25px;
  font-weight: bold;
}
#delete_tb tr{
  text-align: center;
  padding-top: 10%;
  margin-bottom: 10%;
}
#delete_tb tr:nth-child(3){
    font-size: 14px;
    color:#555353;
    font-weight: lighter;
}

#greset{
      
    width: 120px;
      height: 35px;
      border-radius: 27px;
      font-size: 16px;
      border: solid 1px #000000;
      background-color: #ffffff;
      font-size: 16px;
      font-weight: bold;
    }
    #gsubmit{
   
  width: 120px;
      height: 35px;
      border-radius: 27px;
      font-size: 16px;
      background-color: #000000;
      border: 0px;
    color : white;
    font-size: 16px;
    font-weight: bold;
    }
