@charset "UTF-8";

#gbSection {
	padding-bottom: 30px;
}

#seller_tb, #seller_tb tr, #seller_tb td, #seller_tb th {
	/* border : 1px solid red; */
	
}

#seller_tb {
	width: 40%;
	height: 300px;
	margin: auto;
	margin-bottom: 50px;
}

#review_tb, #review_tb tr, #review_tb td, #review_tb th {
	/* border : 1px solid red; */
	
}

#reviewSection {
	width: 80%;
	margin: auto;
}

#review_tb {
	width: 98%;
	margin: auto;
	border-collapse: collapse;
	background-color: #fafafa;
	margin-bottom: 5%;
}

#review_tb img {
	width: 70px;
	border: 1px solid black;
	border-radius: 100%;
}

#review_tb td span:nth-child(1) {
	font-size: 16px;
	font-weight: bold;
}

#review_tb td span:nth-child(2) {
	padding-left: 10px;
	font-size: 14px;
	color: #9a9999;
}

#reviewSection div a {
	padding-right: 5%;
	text-decoration: none;
}

#reviewSection div a:hover {
	cursor: pointer;
	color: black !important;
}

.reviewStar {
	text-align: right;
	color: #37bbda;
	padding-right: 20px;
}

.btn_gray {
	width: 101px;
	height: 25px;
	padding: 5px 17px 4px 16px;
	border-radius: 30px;
	border: solid 1px #9a9999;
	background-color: #f9f9f9;
	color: #9a9999;
	font-size: 14px;
	margin-left: 33%;
}

.btn_small {
	width: 120px;
	height: 40px;
	border-radius: 25px;
	border: solid 1px #c4c4c4;
	background-color: #ffffff;
	margin-left: 18%;
}

.btn_small img {
	width: 20px;
	height: 20px;
	float: left;
	margin-left: 10%;
	margin-top: 8px;
}

.btn_small p {
	display: inline;
	font-size: 13px;
	padding-left: 10px;
	float: left;
	margin-top: 10px;
}
/* 별점 */
#star a {
	text-decoration: none;
	color: rgb(172, 172, 172);
	font-size: 20px;
	padding-right: 0;
}

#star a.on {
	color: #37bbda;
}
/* 후기 쓰기 */
.h2_title {
	margin-left: 133px;
	margin-right: 10px;
	color: #757575;
	float: left;
}

#reviewwrite {
	padding-top: 0px;
	width: 100%;
	margin-bottom: 5%;
}

#reviewWriteArea {
	width: 90%;
	height: 100px;
	resize: none;
	background: none;
	border: 1px solid #75757552;
	/* display: inline-block; */
}

#writeBtn {
	margin-left: 90%;
	display: inline-block;
	width: 130px;
	height: 35px;
	border-radius: 27px;
	font-size: 14px;
	background-color: #000000;
	border: 0px;
	color: white;
}

#review_writer {
	display: inline-block;
	text-align: center;
	/* padding-top: 5%; */
	margin-right: 30px;
	margin-left: 20px;
}

#review_writer img {
	width: 70px;
	border-radius: 100%;
	border: 1px solid black;
	margin-bottom: 10px;
}

#starArea {
	display: inline-block;
}
/*신고 모달*/
#report_tb, #report_tb tr, #report_tb td {
	/* border: 1px solid red; */
	
}

#report_tb {
	padding-top: 30px;
	margin: auto;
	width: 80%;
}

#report_tb p {
	opacity: 0.95;
	font-size: 25px;
	font-weight: bold;
}

#report_tb tr {
	text-align: center;
}

#reportSelect {
	width: 533px;
	height: 50px;
	font-size: 16px;
	border-radius: 10px;
	border: solid 1px #c4c4c4;
	padding-left: 10px;
}

#report_tb textarea {
	resize: none;
	width: 533px;
	height: 250px;
	font-size: 16px;
	border-radius: 10px;
	border: solid 1px #c4c4c4;
	margin-bottom: 30px;
	background-color: #f9f9f9;
}

#greset {
	width: 125px;
	height: 40px;
	border-radius: 27px;
	font-size: 16px;
	border: solid 1px #000000;
	background-color: #ffffff;
	font-size: 16px;
	font-weight: bold;
}

#gsubmit {
	width: 125px;
	height: 40px;
	border-radius: 35px;
	font-size: 16px;
	background-color: #000000;
	border: 0px;
	color: white;
	font-size: 16px;
	font-weight: bold;
}

#followlist_area {
	padding-top: 20px;
	background-color: #fafafa;
}

.btn_sq {
	width: 100px;
	height: 30px;
	border-radius: 3px;
	border: solid 1px #c4c4c4;
	background-color: #ffffff;
	margin-left: 20%;
}

.btn_sq img {
	width: 15px;
	height: 15px;
	float: left;
	margin-left: 10%;
	margin-top: 5px;
}

.btn_sq p {
	display: inline;
	font-size: 12px;
	padding-left: 10px;
	float: left;
	margin-top: 6px;
}

.follow_div img {
	width: 150px !important;
	height: 150px !important;
	margin-left: 20px !important;
}

.following_div, .follower_div, .review_div {
	display: none;
}

.userPhoto {
	width: 150px;
	height: 150px;
	border-radius: 100%;
}

.user_comment{
	width: 480px;
	height:100px;
	resize:none;
	border:0;
	border-top:1px solid #b1b1b1;
	border-bottom:1px solid #b1b1b1;
	outline:none;
	padding-left:5px;
}

#seller_id{
	margin-left:60px;
	text-align:center;
}