<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="businessMapper">
	<resultMap type="Business" id="businessResultSet">
		<id property="shopNo" column="SHOP_NO"/>
		<result property="shopCate" column="SHOP_CATE"/>
		<result property="shopAdd" column="SHOP_ADD"/>
		<result property="shopIntro" column="SHOP_INTRO"/>
		<result property="shopTime1" column="SHOP_TIME1"/>
		<result property="topMenu" column="TOP_MENU"/>
		<result property="price" column="PRICE"/>
		<result property="menuInfo" column="MENU_INFO"/>
		<result property="shopPhone" column="SHOP_PHONE"/>
		<result property="userId" column="USER_ID"/>
		<result property="adCash" column="AD_CASH"/>
		<result property="shopTime2" column="SHOP_TIME2"/>
		<result property="shopTime3" column="SHOP_TIME3"/>
	</resultMap>
	<resultMap type="Attachment" id="AttachmentResultSet">
		<id property="shopNo" column="SHOP_NO"/>
		<result property="fno" column="F_NO"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="originNmae" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<resultMap type="News" id="NewsResultSet">
		<id property="nNo" column="N_NO"/>
		<result property="newsTitle" column="NEWS_TITLE"/>
		<result property="shopNews" column="SHOP_NEWS"/>
		<result property="shopNo" column="SHOP_NO"/>
	</resultMap>
	


	<select id="selectbList" parameterType="Member" resultMap="businessResultSet">
		SELECT
				SHOP_NO
			  , SHOP_CATE
			  , SHOP_ADD
			  , SHOP_INTRO
			  , SHOP_TIME1
			  , TOP_MENU
			  , PRICE
			  , MENU_INFO
			  , SHOP_PHONE
			  , USER_ID
			  , AD_CASH
			  , SHOP_TIME2
			  , SHOP_TIME3
		FROM
				BUS_INFO
	</select>
	<select id="selectfList" resultMap="AttachmentResultSet" >
		SELECT
		    SHOP_NO
		 ,  F_NO
		 ,  FILE_PATH
		 ,  ORIGIN_NAME
		 ,  CHANGE_NAME
		 ,  STATUS
		 FROM 
		 	ADDFILE
		 JOIN BUS_FILE USING(F_NO)
		 JOIN BUS_INFO USING(SHOP_NO)
	</select>
	
	<select id="selectnList" resultMap="NewsResultSet">
		SELECT
				N_NO
			  , NEWS_TITLE
			  , SHOP_NEWS
			  , SHOP_NO
		FROM 
				NEWS
		ORDER BY N_NO DESC  
	</select>
	
	<select id="selectnfList" resultMap="AttachmentResultSet" >
		SELECT
		    N_NO
		 ,  F_NO
		 ,  FILE_PATH
		 ,  ORIGIN_NAME
		 ,  CHANGE_NAME
		 ,  STATUS
		 FROM 
		 	ADDFILE
		 JOIN NEWS_FILE USING(F_NO)
		 JOIN NEWS USING(N_NO)
	</select>	

</mapper>