<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reportMapper">
	<resultMap type="Report" id="reportResultSet">
		<id property = "re_no" column ="RE_NO"/>
		<result property="retitle" column="RETITLE"/>
		<result property="reported_id" column="REPORTED_ID"/>
		<result property="re_content" column="RE_CONTENT"/>
		<result property="create_date" column="CREATE_DATE"/>
		<result property="re_status" column="RE_STATUS"/>
		<result property="re_result" column="RE_RESULT"/>
	</resultMap>
	<select id="selectReportList" resultMap="reportResultSet">
		SELECT
		       RE_NO
		     , RETITLE
		     , REPORTED_ID
		     , RE_CONTENT
		     , CREATE_DATE
		     , RE_STATUS
		     , RE_RESULT
		  FROM
		       REPORT
      ORDER BY
               RE_NO ASC
	</select>
	<select id="selectReport" parameterType="_int" resultMap="reportResultSet">
      SELECT
            RE_NO
		     , RETITLE
		     , REPORTED_ID
		     , RE_CONTENT
		     , CREATE_DATE
		     , RE_STATUS
		     , RE_RESULT
        FROM
             REPORT
       WHERE 
            RE_NO = #{re_no}
   </select>
	<update id="updateReport" parameterType="Report">
      UPDATE
            REPORT
         SET
             RE_RESULT = #{re_result}
           
      WHERE
            RE_NO = #{re_no}
   </update>
   <select id="selectListCount" resultType="_int">
      SELECT 
            COUNT(*)
          FROM
                REPORT
         WHERE
               RE_STATUS = 'Y' OR RE_STATUS = 'N'
   </select>
	<select id="selectList" resultMap="reportResultSet">
      SELECT
          RE_NO
		     , RETITLE
		     , REPORTED_ID
		     , RE_CONTENT
		     , CREATE_DATE
		     , RE_STATUS
		     , RE_RESULT
        FROM
             REPORT
    ORDER BY 
             RE_NO ASC 
   </select>
	
	<insert id="insertGoodsReport" parameterType="java.util.Map">
		INSERT ALL
		INTO REPORT
		(
		   RE_NO
		 , RETITLE
		 , REPORTED_ID
		 , RE_CONTENT
		 , CREATE_DATE
		 , RE_STATUS
		 , RE_RESULT)
		VALUES
		(
		  REPORT_SEQ.NEXTVAL
		, #{r.retitle}
		, #{r.reported_id}
		, #{r.re_content}
		, DEFAULT
		, DEFAULT
		, DEFAULT
		)
		INTO GOODS_REPORT
		VALUES
		(#{gno},REPORT_SEQ.CURRVAL)
		INTO ALARM
		(
		  ALARM_NO
		, ALARM_TYPE
		, USER_ID
		, ALARM_DATE
		, REF_NO
		)
		VALUES
		(
		  A_SEQ.NEXTVAL
		, 1
		, #{reported_id}
		, DEFAULT
		, #{gno}
		)
		SELECT * FROM DUAL
	</insert>
	
	<select id="selecMyReportCount" parameterType="string" resultType="_int">
	SELECT 
			COUNT(RE_NO)
	  FROM 
	  		REPORT
	 WHERE 
		   REPORTED_ID = #{user_id}
	   AND
		   RE_STATUS = 'Y'
		</select>
	
	<select id="selectMyReportList" parameterType="string" resultMap="reportResultSet">
	SELECT 
		   RE_NO
		 , RETITLE
		 , REPORTED_ID
		 , RE_CONTENT
		 , CREATE_DATE
		 , RE_STATUS
		 , RE_RESULT
	  FROM 
	  		REPORT
	 WHERE 
	 		REPORTED_ID = #{user_id}
	   AND
		    RE_STATUS = 'Y'
  ORDER BY 
  			CREATE_DATE DESC
	
	</select>
	
	<update id="deleteReport" parameterType="_int">
	UPDATE 
			REPORT
	   SET 
	   		RE_STATUS = 'N'
	 WHERE 
	 		RE_NO = #{re_no}
	
	</update>
	<select id="selectReport1List" resultMap="reportResultSet">
		SELECT
		       RE_NO
		     , RETITLE
		     , REPORTED_ID
		     , RE_CONTENT
		     , CREATE_DATE
		     , RE_STATUS
		     , RE_RESULT
		  FROM
		       REPORT
		  WHERE
		  		RE_CATE = 1
      ORDER BY
               RE_NO ASC
	</select>
	<select id="selectReport2List" resultMap="reportResultSet">
		SELECT
		       RE_NO
		     , RETITLE
		     , REPORTED_ID
		     , RE_CONTENT
		     , CREATE_DATE
		     , RE_STATUS
		     , RE_RESULT
		  FROM
		       REPORT
		       WHERE
		  		RE_CATE = 2
      ORDER BY
               RE_NO ASC
	</select>
	<select id="selectReport3List" resultMap="reportResultSet">
		SELECT
		       RE_NO
		     , RETITLE
		     , REPORTED_ID
		     , RE_CONTENT
		     , CREATE_DATE
		     , RE_STATUS
		     , RE_RESULT
		  FROM
		       REPORT
		       WHERE
		  		RE_CATE = 3
      ORDER BY
               RE_NO ASC
	</select>
	
</mapper>