<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reportMapper">
	<resultMap type="Report" id="reportResultSet">
		<id property = "re_no" column ="RE_NO"/>
		<result property="retitle" column="RETITLE"/>
		<result property="re_content" column="RE_CONTENT"/>
		<result property="create_date" column="CREATE_DATE"/>
		<result property="re_status" column="RE_STATUS"/>
		<result property="re_result" column="RE_RESULT"/>
		<result property="report_id" column="REPORT_ID"/>
		<result property="reported_id" column="REPORTED_ID"/>
		<result property="re_cate" column="RE_CATE"/>
		<result property="gno" column="G_NO"/>
		<result property="change_name" column="CHANGE_NAME"/>
		<result property="reported" column="REPORTED"/>
	</resultMap>
	<select id="selectReportList" resultMap="reportResultSet">
		SELECT
		       RE_NO
		     , RETITLE
		     , REPORTED_ID
		     , RE_CONTENT
		     , CREATE_DATE
		     , RE_STATUS
		     , RE_RESULT
		  FROM
		       REPORT
      ORDER BY
               RE_NO ASC
	</select>
	<select id="selectReport" parameterType="_int" resultMap="reportResultSet">
      SELECT 
            G.G_NO,
			R.RE_NO,
            AF.CHANGE_NAME,
            R.REPORTED_ID,
            R.RE_CONTENT,
            R.CREATE_DATE,
            R.RE_STATUS,
            R.RE_RESULT,
            R.RETITLE
		 FROM GOODS G, GOODS_REPORT GR, REPORT R, GOODSFILE GF, ADDFILE AF
		WHERE G.G_NO = GR.G_NO
		  AND GR.R_NO = R.RE_NO
          AND G.G_NO = GF.G_NO
          AND GF.F_NO = AF.F_NO
		  AND R.RE_NO = #{re_no}
        ORDER BY R.RE_NO DESC
          
   </select>
   <!--  -->
	<update id="updateReport" parameterType="Report">
      UPDATE
            REPORT
         SET
             RE_RESULT = #{re_result}
           
      WHERE
            RE_NO = #{re_no}
   </update>
   <select id="selectListCount" resultType="_int">
      SELECT 
            COUNT(*)
          FROM
                REPORT
         WHERE
               RE_STATUS = 'Y' OR RE_STATUS = 'N'
   </select>
	<select id="selectList" resultMap="reportResultSet">
      SELECT
          RE_NO
		     , RETITLE
		     , REPORTED_ID
		     , RE_CONTENT
		     , CREATE_DATE
		     , RE_STATUS
		     , RE_RESULT
        FROM
             REPORT
    ORDER BY 
             RE_NO ASC 
   </select>
	
	<insert id="insertGoodsReport" parameterType="java.util.Map">
		INSERT ALL
		INTO REPORT
		(
		   RE_NO
		 , RETITLE
		 , RE_CONTENT
		 , CREATE_DATE
		 , RE_STATUS
		 , RE_RESULT
		 , REPORT_ID
		 , REPORTED_ID
		 , RE_CATE
		 )
		VALUES
		(
		  REPORT_SEQ.NEXTVAL
		, #{r.retitle}
		, #{r.re_content}
		, DEFAULT
		, DEFAULT
		, DEFAULT
		, #{r.report_id}
		, #{r.reported_id}
		, 1
		)
		INTO GOODS_REPORT
		VALUES
		(#{gno},REPORT_SEQ.CURRVAL)
		SELECT * FROM DUAL
	</insert>
	
	<select id="selecMyReportCount" parameterType="string" resultType="_int">
	SELECT 
			COUNT(RE_NO)
	  FROM 
	  		REPORT
	 WHERE 
		    REPORT_ID = #{user_id} 
	   AND
		    RE_STATUS = 'Y'
		</select>
	
	<select id="selectMyReportList" parameterType="string" resultMap="reportResultSet">
	SELECT 
		   RE_NO
		 , RETITLE
		 , RE_CONTENT
		 , CREATE_DATE
		 , RE_STATUS
		 , RE_RESULT
		 , REPORT_ID
		 , REPORTED_ID
		 , RE_CATE
	  FROM 
	  		REPORT
	 WHERE 
	 		REPORT_ID = #{user_id}
	   AND
		    RE_STATUS = 'Y'
  ORDER BY 
  			CREATE_DATE DESC
	
	</select>
	
	<update id="deleteReport" parameterType="_int">
	UPDATE 
			REPORT
	   SET 
	   		RE_STATUS = 'N'
	 WHERE 
	 		RE_NO = #{re_no}
	
	</update>
	<select id="selectReport1List" resultMap="reportResultSet">
		SELECT
		       RE_NO
		     , RETITLE
		     , REPORTED_ID
		     , RE_CONTENT
		     , CREATE_DATE
		     , RE_STATUS
		     , RE_RESULT
		  FROM
		       REPORT
		  WHERE
		  		RE_CATE = 1
      ORDER BY
               RE_NO ASC
	</select>
<select id="selectReport2List" resultMap="reportResultSet">
      SELECT
            R.RE_NO
           , R.RETITLE
           , R.REPORTED_ID
           , R.RE_CONTENT
           , R.CREATE_DATE
           , R.RE_STATUS
           , R.RE_RESULT
             , M.REPORTED
        FROM
             REPORT R, USER_REPORT UR, USER_INFO M
             WHERE
               R.RE_NO = UR.REPORT_NO
               AND UR.USER_ID = M.USER_ID
               AND R.RE_CATE = 2
      ORDER BY
               R.RE_NO ASC
   </select>
	<select id="selectReport3List" resultMap="reportResultSet">
		SELECT
		       RE_NO
		     , RETITLE
		     , REPORTED_ID
		     , RE_CONTENT
		     , CREATE_DATE
		     , RE_STATUS
		     , RE_RESULT
		  FROM
		       REPORT
		       WHERE
		  		RE_CATE = 3
      ORDER BY
               RE_NO ASC
	</select>
	
	<select id="selectMyReportedCount" parameterType="string" resultType="_int">
	SELECT 
			COUNT(RE_NO)
	  FROM
			REPORT
	 WHERE 
	 		REPORTED_ID = #{user_id}
	</select>
	
	<select id="selectReportedList" parameterType="string" resultMap="reportResultSet">
	SELECT 
			RE_NO, RETITLE, REPORTED_ID, REPORT_ID, RE_CONTENT, CREATE_DATE, RE_STATUS, RE_RESULT, RE_CATE
	  FROM 
	  		REPORT
	 WHERE 
	 		REPORTED_ID = #{user_id}
  ORDER BY 
  			CREATE_DATE DESC
	</select>

  <update id="addCountReported" parameterType="string">
	UPDATE 
			USER_INFO
	   SET 
	   		REPORTED = REPORTED + 1,
            REP_DATE = CASE WHEN MOD(REPORTED+1,3) = 0  THEN SYSDATE ELSE REP_DATE END
	 WHERE
	 		USER_ID = #{reporte_id}
	</update>
	
	<select id="selectMyReportedDate" parameterType="string" resultType="string">
	SELECT
			REP_DATE
	  FROM
	  		USER_INFO
	 WHERE
	 		USER_ID = #{user_id}		
	  		
	</select>
	
	<update id="updateReportedDate" parameterType="string">
	UPDATE 
			USER_INFO
	   SET 
	   		REP_DATE = CASE WHEN REP_DATE+15 &lt; SYSDATE THEN NULL ELSE REP_DATE END
	 WHERE 
	 		USER_ID = #{user_id}
	
	</update>
	
	
	<insert id="insertUserReport" parameterType="Report">
		INSERT ALL
		INTO REPORT
		(
		   RE_NO
		 , RETITLE
		 , RE_CONTENT
		 , CREATE_DATE
		 , RE_STATUS
		 , RE_RESULT
		 , REPORT_ID
		 , REPORTED_ID
		 , RE_CATE
		 )
		VALUES
		(
		  REPORT_SEQ.NEXTVAL
		, #{retitle}
		, #{re_content}
		, DEFAULT
		, DEFAULT
		, DEFAULT
		, #{report_id}
		, #{reported_id}
		, 2
		)
		INTO USER_REPORT
		VALUES
		(REPORT_SEQ.CURRVAL, #{reported_id})
		INTO ALARM
		(
		  ALARM_NO
		, ALARM_TYPE
		, USER_ID
		, ALARM_DATE
		
		)
		VALUES
		(
		  A_SEQ.NEXTVAL
		, 2
		, #{reported_id}
		, DEFAULT
		
		)
		SELECT * FROM DUAL
	</insert>


</mapper>