<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="townMapper">
	<resultMap type="Town" id="townResultSet">
		<id property = "t_no" column ="T_NO"/>
		<result property="address_1" column="ADDRESS_1"/>
		<result property="address_2" column="ADDRESS_2"/>
		<result property="address_3" column="ADDRESS_3"/>
	</resultMap>
	
	 <resultMap type="MyTown" id="MytownResultSet">
		<id property = "mytown_type" column ="MYTOWN_TYPE"/>
		<id property = "user_id" column ="USER_ID"/>
		<result property="t_no" column="T_NO"/>
		<result property="area" column="AREA"/>
	</resultMap>
	
	<select id="selectAllTown1" resultMap="townResultSet">
		SELECT
			 	DISTINCT ADDRESS_1
		  FROM
		  		TOWN
	</select>
	<select id="selectAllTown2" resultMap="townResultSet">
		SELECT
			 	DISTINCT ADDRESS_2
		  FROM
		  		TOWN
	</select>
	<select id="selectAllTown3" resultMap="townResultSet">
		SELECT
			 	ADDRESS_3
		  FROM
		  		TOWN
	</select>
	<select id="selectTownNo" parameterType="string" resultType="_int">
		SELECT
				T_NO
		  FROM
		  		TOWN
		 WHERE  
		 		ADDRESS_3 = #{address_3}
	</select>
	
	<insert id="insertMyTown" parameterType="MyTown">
		INSERT 
		INTO MY_TOWN
		(
			MYTOWN_TYPE
		  , USER_ID
		  , T_NO
		  , AREA
		)
		VALUES
		(
			DEFAULT
		  , #{user_id}
		  , #{t_no}
		  , DEFAULT
		)
	</insert>
	
	<insert id="insertMyNewTown" parameterType="MyTown">
		INSERT 
		INTO MY_TOWN
		(
			MYTOWN_TYPE
		  , USER_ID
		  , T_NO
		  , AREA
		)
		VALUES
		(
			2
		  , #{user_id}
		  , #{t_no}
		  , DEFAULT
		)
	</insert>
	
	<select id="selectDefaultTown" parameterType="string" resultType="string">
		SELECT 
				ADDRESS_3
		  FROM 
		  		MY_TOWN
		  JOIN 
		   		TOWN USING(T_NO)
		 WHERE
		 		USER_ID = #{user_id}
		   AND  
		   		MYTOWN_TYPE = 1
	
	</select>
	
	
	<select id="selectNewTown" parameterType="string" resultType="string">
		SELECT 
				ADDRESS_3
		  FROM 
		  		MY_TOWN
		  JOIN 
		   		TOWN USING(T_NO)
		 WHERE
		 		USER_ID = #{user_id}
		   AND  
		   		MYTOWN_TYPE = 2
	</select>
	
	<select id="selectMyTownList" resultType="string">
		SELECT 
				ADDRESS_3
		  FROM 
		  		MY_TOWN
		  JOIN 
		   		TOWN USING(T_NO)
		 WHERE
		 		USER_ID = #{user_id}
	</select>
	
	<delete id="deleteTown" parameterType="MyTown">
		DELETE  
		  FROM 
				MY_TOWN
		 WHERE 
		 		T_NO = #{t_no}
		   AND 
		   		USER_ID = #{user_id}
	</delete>
	
</mapper>