<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
"-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<!-- 만약 null로 데이터가 전달되었다면 빈칸이 아닌 null로 인식 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- 데이터베이스로의 응답을 얼마나 오래 기다릴지 판단하는 타임아웃 설정 -->
		<setting name="defaultStatementTimeout" value="25"></setting>
	</settings>	
	
	<!-- TypeAliases -->
	<typeAliases>
		<typeAlias type="com.kh.goodbuy.member.model.vo.Member" alias = "Member"/>

		<typeAlias type="com.kh.goodbuy.town.model.vo.Town" alias = "Town"/>
		<typeAlias type="com.kh.goodbuy.member.model.vo.MyTown" alias = "MyTown"/>
		<typeAlias type="com.kh.goodbuy.center.model.vo.Notice" alias = "Notice"/>
		<typeAlias type="com.kh.goodbuy.business.model.vo.Business" alias = "Business"/>

		<typeAlias type="com.kh.goodbuy.business.model.vo.Attachment" alias = "Attachment"/>
		<typeAlias type="com.kh.goodbuy.business.model.vo.NewsAttachment" alias = "NewsAttachment"/>
		<typeAlias type="com.kh.goodbuy.business.model.vo.News" alias = "News"/>
		<typeAlias type="com.kh.goodbuy.business.model.vo.Review" alias = "Review"/>


		<typeAlias type="com.kh.goodbuy.goods.model.vo.Gcate" alias = "Gcate"/>
		<typeAlias type="com.kh.goodbuy.goods.model.vo.Goods" alias = "Goods"/>
		<typeAlias type="com.kh.goodbuy.goods.model.vo.Addfile" alias = "Addfile"/>
		<typeAlias type="com.kh.goodbuy.member.model.vo.Search" alias="Search"/>
		<typeAlias type="com.kh.goodbuy.center.model.vo.QNA" alias="QNA"/>
		<typeAlias type="com.kh.goodbuy.common.model.vo.Report" alias="Report"/>

	</typeAliases>
	
	<!-- mappers -->
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/qna-mapper.xml"/>
		<mapper resource="mappers/town-mapper.xml"/>

		<mapper resource="mappers/business-mapper.xml"/>

		<mapper resource="mappers/notice-mapper.xml"/>
		<mapper resource="mappers/report-mapper.xml"/>


		<mapper resource="mappers/goods-mapper.xml"/>
		

		<mapper resource="mappers/notice-mapper.xml"/>

	</mappers>
	
	

</configuration>