@charset "UTF-8";
            @font-face {
        font-family: 'IBMPlexSansKR-Regular';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        }
        #gbSection{
            font-family: 'IBMPlexSansKR-Regular';
        }
        .area{
           text-align: center;
        }
        .cashArea{
            width: 610px;
            height: 110px;
            border: 1px solid #e0dcdc;
            display: flex;
            margin: 0;
            padding: 0;
            position: relative;
            right: -31%;
            margin-top: 50px;
            margin-bottom: 50px;
            box-shadow: 0px 6px 5px 0px rgb(0 0 0 / 10%);
        }
        .cashArea >label{
            font-size: 20px;
        }
        .cashArea > button{
            width: 50px;
            height: 50px;
            border: 1px solid #C4C4C4;
            background-color: white;
            font-family: 'IBMPlexSansKR-Regular';
            font-size: 18px;
            position: relative;
            left: 61%;
            bottom: -25%;
            border-radius: 10px;
        }
        .logoArea >p{
            font-size: 18px;
        }
        .btnArea >button{
            width: 150px;
            height: 43px;
            font-family: 'IBMPlexSansKR-Regular';
            font-size: 18px;
            border-radius: 27px;
            background-color: black;
            color: white;
            letter-spacing: 2px;
            
        }
        .btnArea{
            margin-bottom: 15px;
        }
        #cash{
            margin-left: 5px;
            position: relative;
            left: 2%;
        }
        #money{
            position: relative;
            left: -11%;
            bottom: -45%;
        }
        
            #cashWrite{
            padding-top: 10px;
            margin: auto;
            width: 80%;
            height: 155px;
        }

        #cashbtnArea{
            text-align: center;
        }
    
        #cashInput{
            width: 100%;
		    height: 40px;
		    border-radius: 10px;
		    border: solid 1px #c4c4c4;
		    background-color: #ffffff;
		    padding-left: 10px;
		    margin-top: 10px;
		    margin-bottom: 10px;
        }
        #cashInsertBtn{
            width: 85px;
            height: 43px;
            border-radius: 27px;
            border: none;
            background-color: black;
            color: white;
            letter-spacing: 2px;
            margin-bottom: 30px;
            margin-top: 10px;
            font-family: 'IBMPlexSansKR-Regular';
        }
         #viewCount{
            padding-top: 30px;
            margin: auto;
            width: 80%;
            height: 298px;
        }
        #btnArea{
            text-align: center;
        }

        #viewCount tr{
            text-align: center;
        }
        #viewCount label{
            color: #9a9999;
        }
        #finalBtn{
            width: 200px;
            height: 43px;
            border-radius: 27px;
            border: none;
            background-color: black;
            color: white;
            letter-spacing: 2px;
            margin-bottom: 30px;
            font-family: 'IBMPlexSansKR-Regular';
            margin-top: 10px;
        }
        input[type=range] {
            -webkit-appearance: none; /* 기본슬라이드 숨기기*/
            width: 500px;  
            background: transparent; /* Chrome에서 투명하게 출력 */
            margin-top: 25px;
        }
        #countInput::-webkit-slider-thumb{
            border:0px;
            height: 30px;
            width: 30px;
            background: #fff;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -8px;
            border-radius: 30px;
            box-shadow: 1px 1px 1px #9d9d9d, 0px 0px 3px #9d9d9d;

         }

         #countInput::-webkit-slider-runnable-track{
            cursor: pointer;
            background: #37BBDA;
            height:15px;
            border-radius: 25px;
        }       

        #countInput:focus::-ms-fill-lower{
           background: #37BBDA;
        }
        #countInput:focus::-ms-fill-upper{
            background:black;
        }
        	@font-face {
    font-family: 'Jal_Onuel';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
	        *{
	    font-family: 'Jal_Onuel' !important;
}
.logoArea{
    margin-bottom:200px;
}
