@charset "UTF-8";
        @font-face {
        font-family: 'IBMPlexSansKR-Regular';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        }
        .area{
            display: block;
            text-align: -webkit-center;
            font-family: 'IBMPlexSansKR-Regular';
            margin-bottom: 30px;
            margin-top: 30px;
        }
        .photoArea{
            width: 654px;
            height: auto;
            border: 1px solid #e0e0e0;
            
        }
        .infoArea{
            width: 654px;
            height: auto;
            border: 1px solid #e0e0e0;
           
            flex-direction: column;
        }
        .priceArea{
            width: 654px;
            height: auto;
            border: 1px solid #e0e0e0;
        
            flex-direction: column;
         
        }
        #profileImg{
            position: relative;
            left: -41%;
            margin-top: 10px;
        }
        #nameArea{
               position: relative;
			    top: -12%;
			    left: -28%;
			    width: 69px;
			    height: 32px;
			    border: 1px solid #c4c4c4;
			    border-style: dashed;
			    text-align: center;
			    margin-left: 3px;
        }
        #namePen{
            position: relative;
            top: -28%;
            left: 7%;
        }

        #likeBtn{
			position: relative;
		    left: -8%;
		    top: -14%;
		    width: 69px;
		    height: 31px;
		    border: 1px solid #C4c4c4;
		    background-color: white;
		    color: black;
		    letter-spacing: 2px;
		    border-radius: 4px;
		    font-family: 'IBMPlexSansKR-Regular';
        }
        #adImg{
            position: relative;
            top: 2%;
            left: -15%;
        }
        #adLabel{
            position: relative;
            top: 8%;
            left: -25%;
        }
        #line{
            position: relative;
            top: 4%;
            left: -5%;
        }
        #pen{
            position: relative;
            top: 2%;
            left: 15%;

        }
        #newsLabel{
            position: relative;
            top: 8%;
            left: 4%;
        }
        #infoLabel{
            font-size: 24px;
            text-align: left;
            margin-left: 17px;
        }
        #infoPlusArea{
            width: 549px;
            height: 54px;
            border: 1px solid #C4c4c4;
            border-style: dashed;
            /* text-align: center; */
            /* display: flex; */
            margin-left: 52px;
        }

        #addressImg{
           margin-right: 10px;
        }

        #clockImg{
            margin-right: 10px;
        }
      
        #infoBtn{
         
            width: 549px;
            border: 1px solid #C4c4c4;
            background-color: white;
           
            font-family: 'IBMPlexSansKR-Regular';
        }
        #priceLabel{
            font-size: 24px;
            margin-left: 17px;
            margin-bottom: 10px;
        }
        #pricePlusLabel{
            margin-left: 17px;
            margin-bottom: 15px;
        }
        #priceBtn{
            width: 549px;
            border: 1px solid #c4c4c4;
            background-color: white;
           
            font-family: 'IBMPlexSansKR-Regular';
        }
        #btnArea{
            text-align: center;
        }
        #finalBtn{
            width: 85px;
            height: 43px;
            border-radius: 27px;
            border: none;
            background-color: black;
            color: white;
            letter-spacing: 2px;
            /* text-align: -webkit-center; */
            /* position: relative; */
           
            margin-bottom: 30px;
            font-family: 'IBMPlexSansKR-Regular';
        }
        #priceBtnArea{
            margin-bottom: 5px;
             text-align: center;
        }
        #infoBtnArea{
            margin-top: 10px;
        }
        #addressArea{
            text-align: left;
            margin-left: 17px;
            margin-top: 10px;

        }
        #timeArea{
            text-align: left;
            margin-left: 17px;
            margin-top: 10px;

        }
       #nameArea label{
	        line-height: 50px;
		    position: relative;
		    top: -23%;
        }
        

        #priceSet{
            padding-top: 50px;
            margin: auto;
            width: 80%;
            height: 664px;
        }
        #priceSet button{
            text-align: center;
        }
        #btnArea{
            text-align: center;
        }
        #topMenu{
            width: 100%;
            height: 30px;
            border-radius: 10px;
            border: solid 1px #c4c4c4;
            background-color: #ffffff;
            padding-left: 2%;
        }
        #priceInput{
            width: 100%;
            height: 30px;
            border-radius: 10px;
            border: solid 1px #c4c4c4;
            background-color: #ffffff;
            padding-left: 2%;
        }
        #menuInfo{
            width: 94%;
            height: 150px;
            border-radius: 10px;
            border: solid 1px #c4c4c4;
            background-color: #ffffff;
            padding-top: 10px;
            padding-left: 10px;
            margin-bottom: 20px;
            
        }
        #finalBtn{
            width: 85px;
            height: 43px;
            border-radius: 27px;
            border: none;
            background-color: black;
            color: white;
            letter-spacing: 2px;
            margin-bottom: 30px;
            font-family: 'IBMPlexSansKR-Regular';
        }
        
         #infoSet{
            padding-top: 50px;
            margin: auto;
            width: 80%;
            height: 664px;
        }
      	#category {
		    width: 94%;
		    height: 30px;
		    font-size: 14px;
		    border-radius: 10px;
		    border: solid 1px #c4c4c4;
		    padding-left: 10px;
		}
        #topMenu{
            width: 94%;
            height: 30px;
            border-radius: 10px;
            border: solid 1px #c4c4c4;
            background-color: #ffffff;
            padding-left: 2%;
        }
        #nameInput{
            width: 94%;
            height: 30px;
            border-radius: 10px;
            border: solid 1px #c4c4c4;
            background-color: #ffffff;
            padding-left: 2%;
        }
        
        #detailInput{
            width: 94%;
            height: 30px;
            border-radius: 10px;
            border: solid 1px #c4c4c4;
            background-color: #ffffff;
            padding-left: 2%;
        }
        #addressInput{
            width: 94%;
            height: 30px;
            border-radius: 10px;
            border: solid 1px #c4c4c4;
            background-color: #ffffff;
            padding-left: 2%;
        }
        #phoneInput{
            width: 94%;
            height: 30px;
            border-radius: 10px;
            border: solid 1px #c4c4c4;
            background-color: #ffffff;
            padding-left: 2%;
        }
        #infoInput{
            width: 94%;
            height: 150px;
            border-radius: 10px;
            border: solid 1px #c4c4c4;
            background-color: #ffffff;
            padding-top: 10px;
            padding-left: 10px;
          
        }
       #timeInput1 {
		    width: 45%;
		    height: 30px;
		    border-radius: 10px;
		    border: solid 1px #c4c4c4;
		    background-color: #ffffff;
		    padding-left: 2%;
		   
		}
        #timeInput2{
            width: 45%;
            height: 30px;
            border-radius: 10px;
            border: solid 1px #c4c4c4;
            background-color: #ffffff;
            padding-left: 2%;
        
        }
        #timeInput3{
            width: 94%;
            height: 30px;
            border-radius: 10px;
            border: solid 1px #c4c4c4;
            background-color: #ffffff;
            padding-left: 2%;
            margin-top: 10px;
            margin-bottom: 20px;
        }
       .sucessBtn{
       	margin-top: 50px;
	    width: 150px;
	    height: 47px;
	    text-align: center;
	    border: 0px;
	    background: #222;
	    color: #fff;
	    border-radius: 27px;
	    margin-left: 120px;
       }
        #btnArea{
            text-align: center;
        }
       .infoSetformWrap h3{
        	font-size: 15px;
		    float: left; 	
        }
        .priceSetformWrap h3{
       		 font-size: 15px;
		    float: left
        }
        #line2{
        height: 20px;
	    float: left;
	    position: absolute;
	    top: 67%;
	    left: 31%;
	    margin-bottom: 0px;
	    /* width: 0px; */
	    font-size: 25px;
        }
        #profilePhoto{
        	display:none;
        }
        #photoPlus{
        	width:653px;
        	height:317px;
        }
        	@font-face {
    font-family: 'Jal_Onuel';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
	        *{
	    font-family: 'Jal_Onuel' !important;
}