@charset "UTF-8";

        @font-face {
        font-family: 'IBMPlexSansKR-Regular';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        }
        .area{
            display: block;
            text-align: -webkit-center;
            font-family: 'IBMPlexSansKR-Regular';
            margin-bottom: 30px;
            margin-top: 30px;
            
        }
        .photoArea{
            width: 655px;
            height: 316px;
            border: 1px solid #e0e0e0;
            border-radius: 40px 40px 0px 0px;
        }
        .allArea{
        	width: 655px;
            height: auto;
            border: 1px solid #e0e0e0;
        }
        .infoArea{
            width: 655px;
            height: auto;
            border: 1px solid #e0e0e0;
        }
        .priceArea{
            width: 655px;
            height: auto;
            border: 1px solid #e0e0e0;
            display: flex;
            flex-direction: column;
            text-align: left;
        }
        .newsArea{
            width: 655px;
            height: auto;
            border: 1px solid #e0e0e0;
            display: none;
            flex-direction: column;
            align-items: center;
        }
        .newsAreaflex{
            width: 655px;
            height: auto;
            border: 1px solid #e0e0e0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .reviewArea{
            width: 655px;
            height: auto;
            border: 1px solid #e0e0e0;
            text-align: left;

        }

        #profileImg{
			width:80px;
			height:80px;
			margin-top: 4px;
        }
        #name{

        }

        #likeBtn{

            width: 74px;
            height: 31px;
            border: none;
            background-color: #37BBDA;
            color: white;
            letter-spacing: 2px;  
            border-radius: 4px;  
            font-family: 'IBMPlexSansKR-Regular';
        }
        #call{

        }
        #callLabel{
			margin-right:95px;
        }
        #line{
			    width: 1px;
		    height: 83px;
		    margin-right: 100px;
		    /* padding-right: 50px; */
		    margin-left: 100px;
        }
        #review{


        }
        #reviewLabel{
			margin-left:97px;
        }
        #infoLabel{

            font-size: 24px;
        }
        #info{
            min-width: 136px; 
            max-width: 608px;
        }
        #addressImg{
		    margin-right: 10px;
        }
        #shopAddress{

            margin: 0;
            padding: 0;
        }
        #clockImg{
			margin-right: 10px;
        }
        #shopTime{

            margin: 0;
            padding: 0;
        }
        #priceLabel{
            font-size: 24px;
            margin-left: 17px;
        }
        #titleMenu{
            font-size: 18px;
            margin-left: 17px;
        }
        #menuInfo{
            font-family: 'IBMPlexSansKR-Regular';
            margin-left: 17px;
            margin-bottom : 17px;

        }
        #newsLabel{
            font-size: 24px;
            
        }
        #newsPhoto{
            margin-top: 5px;
            width: 486px;
            height: 200px;
        }
        #oneBtn{
            margin-top: 7px;
            width: 57px;
            height: 13px;
        }
        #newsTitle{
            margin-top: 21px;
            font-size: 24px;
        }
        #newsInfo{
            margin-top: 3px;
            font-family: 'IBMPlexSansKR-Regular';
        }

        #reviewTitle{
            font-size: 24px;
            margin-left: 17px;
        }
        #reviewCount{
            color: #05aad1 ;
            font-size: 20px;
        }
        .writer{
            margin-left: 17px;
         
        }
        .reviewInfo{
            margin-left: 17px;
            font-family: 'IBMPlexSansKR-Regular';
        }
        
        #thumbnail{
        	width:654px;
        	height:316px;
        	border-top-left-radius: 40px;
    		border-top-right-radius: 40px;
        }
        #reviewWrite{
            padding-top: 10px;
            margin: auto;
            width: 80%;
            height: 369px;
        }

        #btnArea{
            text-align: center;
        }
    
        #reviewInput{
            width: 100%;
            height: 150px;
            border-radius: 10px;
            border: solid 1px #c4c4c4;
            background-color: #ffffff;
            padding-top: 10px;
            padding-left: 10px;
            margin-top: 10px;
        }
        #reviewInsertBtn{
            width: 85px;
            height: 43px;
            border-radius: 27px;
            border: none;
            background-color: black;
            color: white;
            letter-spacing: 2px;
            margin-bottom: 30px;
            margin-top: 10px;
            font-family: 'IBMPlexSansKR-Regular';
        }
        /* 별점 */
        #star a{
            text-decoration: none;
            color: rgb(172, 172, 172);
            font-size: 20px;
            padding-right: 0;
        }

        #star a.on {
            color: #37bbda;
        }
        .review-body{
        	position: relative;
	    flex: 1 1 auto;
	    padding: 1rem;

        }
        .userPhoto{
        	width:20px;
        	height:20px;	
        	    margin-left: 5px;
        }
        #plusReviewBtnArea{
        	border : 1px solid #c4c4c4;
        	text-align:center;
        }
         #plusNewsBtnArea{
         	width : 655px;
        	border : 1px solid #c4c4c4;
        	text-align:center;
        }
        .firstArea{
        	display:none;
        }
         .firstAreaflex{
        	display:flex;
        	height:89.6px;
        }
        .callformWrap{
        	
        	text-align:center;
        	font-family: 'IBMPlexSansKR-Regular';
        }
        #phoneP{
        	margin-top : 15px;
        	font-size:20px;
        }
        
        #userPhotoArea{
      		display: flex;
    		margin-left: 20px;
    		margin-top: 20px;
        }
        
        #shopNameArea{
        	margin-left: 20px;
		    display: grid;
		    margin-top: 10px;
        }
        
        #modalArea{
        margin:0px;
        }
		#labelArea{
			margin-bottom:20px;
		}
		#IntroArea{
			text-align: left;
   		 	margin-left: 17px;
		}
		#addressArea{
			display: flex;
    		margin-bottom: 20px;
    		margin-left: 17px;
		}
		#timeArea{
			display: flex;
    		margin-bottom: 20px;
    		margin-left: 17px;
		}
		#infoLabelArea{
			text-align: left;
    		margin-left: 17px;
		}
		.deleteReviewBtn{
			margin:0px;
			background-color: white;
			 border: 1px solid #e0e0e0;
		}
		.deleteReviewArea{
		    margin: 0px;
		    text-align: right;
		    width: 10%;
		    /* height: 13px; */
		    margin-top: 17px;
		    margin-right: 10px;
			
		}
		.reviewInfoArea{
			margin : 0px;
			  width: 90%;
		}
		.grade{
			height:12px;
		}
		.avgGrade{
			height:12px;
		}
			@font-face {
    font-family: 'Jal_Onuel';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
	        *{
	    font-family: 'Jal_Onuel' !important;
}
#reviewnone{
	
	margin-left:13px;
}