@charset "UTF-8";
 
    #gbSection{
        font-family: 'IBMPlexSansKR-Regular';
        margin-bottom:200px;
    }

        #category{
        
            display: flex;
            margin: 0;
            padding: 0;
            justify-content: center;
        }
        #category > li{
        list-style-type: none;
        margin: 0px 25px 15px;
        }
        #cateArea{
            margin-top: 50px;
        }
        .cate{
        	cursor:pointer;
        	color:#9A9999;
        }
        .nearList{
        
        border-radius: 10%;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin : 20px 45px 30px 53px;
        width: 251px;
        height: 300px;
        box-sizing: border-box;
        box-shadow: 0px 6px 5px 0px rgb(0 0 0 / 10%);

    }
          .nearListflex{
            
            border-radius: 10%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin : 20px 45px 30px 53px;
            width: 251px;
            height: 300px;
            box-sizing: border-box;
            box-shadow: 0px 6px 5px 0px rgb(0 0 0 / 10%);

        }
        .nearArea{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            
        }
        #nearNews{
            text-align: center;
        }
        .btnArea{
            
            margin: 10px;
            padding: 10px;
            text-align: center;
        }
        .title{
       font-size: 14px;
       font-weight: bolder;
        margin: 0;
   }
   .content{
       font-size: 11px;
       margin: 5px;
       font-family: 'IBMPlexSansKR-Regular';
       font-weight: 500;
       height: 32px;
   }
   .name{
       font-size: 12px;
       font-weight: bold;
   }
   .address{
       font-size: 10px;
       color: #9A9999;
   }
   .thumbnail{
   	width : 251px;
   	height : 175px;
   	    border-radius: 20px 20px 0px 0px;
   }
   .logoArea{
   	text-align : center;
   	margin-top : 50px;
   	margin-bottom : 50px;
   }
   .logoArea > p{
   	font-size : 24px;
   }
    .userPhoto{
   	width:20px;
   	height:20px;
   }
   @font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	font-family: 'IBMPlexSansKR-Regular';
}
	@font-face {
    font-family: 'Jal_Onuel';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
	        *{
	    font-family: 'Jal_Onuel' !important;
}