@charset "UTF-8";
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
        #newsWrite{
            padding-top: 50px;
            margin: auto;
            width: 80%;
            height: 664px;
        }
       #btnArea{
        text-align: center;
       }
        #titleInput{
            width: 97%;
            height: 30px;
            border-radius: 10px;
            border: solid 1px #c4c4c4;
            background-color: #ffffff;
            padding-left: 2%;
        }
        #newsInfo{
            width: 97%;
            height: 150px;
            border-radius: 10px;
            border: solid 1px #c4c4c4;
            background-color: #ffffff;
            padding-top: 20px;
            padding-left: 15px;
            margin-top: 15px;
        }
        #finalBtn{
            width: 85px;
            height: 43px;
            border-radius: 27px;
            border: none;
            background-color: black;
            color: white;
            letter-spacing: 2px;
            margin-bottom: 30px;
            font-family: 'IBMPlexSansKR-Regular';
          }
          
         #newsPhoto{
        	display:none;
        }
        #newsThumbnail{
        	width:486px;
        	height:200px;
        }
        	@font-face {
    font-family: 'Jal_Onuel';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
	        *{
	    font-family: 'Jal_Onuel' !important;
}