@charset "UTF-8";
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
        #reviewWrite{
            padding-top: 10px;
            margin: auto;
            width: 80%;
            height: 369px;
        }

        #btnArea{
            text-align: center;
        }
    
        #reviewInput{
            width: 95%;
            height: 150px;
            border-radius: 10px;
            border: solid 1px #c4c4c4;
            background-color: #ffffff;
            padding-top: 20px;
            padding-left: 15px;
            margin-top: 15px;
        }
        #finalBtn{
            width: 85px;
            height: 43px;
            border-radius: 27px;
            border: none;
            background-color: black;
            color: white;
            letter-spacing: 2px;
            margin-bottom: 30px;
            margin-top: 10px;
            font-family: 'IBMPlexSansKR-Regular';
        }
        /* 별점 */
        #star a{
            text-decoration: none;
            color: rgb(172, 172, 172);
            font-size: 20px;
            padding-right: 0;
        }

        #star a.on {
            color: #37bbda;
        }
        	@font-face {
    font-family: 'Jal_Onuel';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
	        *{
	    font-family: 'Jal_Onuel' !important;
}