@charset "UTF-8";

.totalWrap {
	text-align: center;
	margin-bottom: 100px;
	margin-left:50%;
	transform: translate(-50%);   
	width:100%;
}

.imgWrap1 {
	width: 640px;
	display: inline-block;
	float:left;
	margin-top: 100px;
	margin-left:5%;
	 
}

#joinImg {
	width: 530px;
	
}

.joinformWrap {
	width: 530px;
	display:inline-block;
	margin-top:100px;
}

#goodbuy_h2 {
	float: left;
	color: #05AAD1;
	margin-right: 10px;
}

#join_h2 {
	text-align: justify;
}

#alreadyJoin_p {
	font-size: 14px;
	text-align: justify;
}

#alreadyJoin_p a {
	color: #222;
	text-decoration: underline;
	font-size: 14px;
	cursor:pointer;
}

.joinform input {
	width: 100%;
	height: 50px;
	color: #9A9999;
	border: 0px;
	border-bottom: 1px #9A9999 solid;
	margin-bottom: 30px;
	font-size: 14px;
	outline:none;
}

/* 중복확인버튼 */
.joinform input[type=button]{
	width:15%;
	height:25px;
	background:none;
	text-align:right;
}


.joinform input::placeholder {
	color: #9A9999;
}

.joinform input:nth-child(1){
	width:85%;
	float:left;
}


.joinform p {
	color: #9A9999;
	text-align: justify;
}

.joinform select {
	width: 152px;
	height: 40px;
	margin-right: 20px;
	border: 1px #9A9999 solid;
	border-radius: 15px;
	color: #9A9999;
	background: #fff;
}

#submitBtn {
	width: 150px;
	height: 47px;
	text-align: center;
	border: 0px;
	background: #222;
	color: #fff;
	border-radius: 27px;
	font-weight: bold;
	margin-top:-30px;
}

/* 비밀번호 일치 여부 알림 */
.checkPwd-success{
	text-align:justify;
	color:#05AAD1;
	margin-bottom:10px;
	font-size:14px;
}
.checkPwd-fail{
	text-align:justify;
	color:red;
	margin-bottom:10px;
	font-size:14px;
}


