@charset "UTF-8";

.totalWrap {
	text-align: center;
	margin-bottom: 100px;
	margin-left:50%;
	transform: translate(-50%);   
	width:100%;
}

.imgWrap2 {
	width: 640px;
	display: inline-block;
	float:left;
	margin-top: 100px;
	margin-left:5%;
}

#joinImg {
	width: 530px;
	
}

.formWrap {
	width: 530px;
	display: inline-block;
	margin-top:100px;
}

#join_h2 {
	text-align: justify;
}

#goodbuy_h2 {
	float: left;
	margin-right: 20px;
	color: #05AAD1;
}

#join_h2 {
	text-align: justify;
}

#alreadyJoin_p {
	font-size: 14px;
	text-align: justify;
}

#alreadyJoin_p a {
	color: #222;
	text-decoration: underline;
	font-size: 14px;
}

.joinform input {
	width: 100%;
	height: 50px;
	color: #9A9999;
	border: 0px;
	border-bottom: 1px #9A9999 solid;
	margin-bottom: 20px;
	font-size: 14px;
}

.joinform input::placeholder {
	color: #9A9999;
}

.joinform p {
	color: #9A9999;
	font-size: 13px;
	margin: 0;
	margin-bottom: 5px;
	text-align: justify;
}

.joinform select {
	width: 152px;
	height: 40px;
	margin-right: 20px;
	border: 1px #9A9999 solid;
	border-radius: 15px;
	color: #9A9999;
	background: #fff;
}

#submitBtn {
	padding:10px 30px 10px 30px;
	text-align: center;
	border: 0px;
	background: #222;
	color: #fff;
	border-radius: 27px;
	font-weight: bold;
	background:black;
}

#memberLeaveBtn {
	color: #9A9999;
	font-size: 14px;
	margin-left: 450px;
}

/* 비밀번호 일치 여부 알림 */
.checkPwd-success{
	text-align:justify;
	color:#05AAD1;
	margin-bottom:10px;
	font-size:14px;
}
.checkPwd-fail{
	text-align:justify;
	color:red;
	margin-bottom:10px;
	font-size:14px;
}


