@charset "UTF-8";

a {
	cursor: pointer;
}

#gbSection {
	margin-bottom: 150px;
}

.title_h1 {
	text-align: center;
	margin-top: 50px;
	font-size: 20px;
}

.proWrap {
	margin: auto;
	margin-top: 50px;
	width: 900px;
	height: 150px;
	position: relative;
}

#userPhoto {
	width: 110px;
	height: 110px;
	border-radius: 164px;
	position: absolute;
	margin-left: 10px;
	cursor: pointer;
	border:5px solid #F1F1F1;
}

#cameraIcon {
	width: 25px;
	position: absolute;
	left: 100px;
	top: 80px;
	background: #fff;
	border: 1px solid #C4C4C4;
	border-radius: 50px;
	padding: 3px;
	cursor: pointer;
}

.proWrap p {
	display: inline-block;
	position: absolute;
}

.proWrap p a {
	color: #9A9999;
}

.proWrap p:nth-child(3) {
	left: 200px;
	top: 20px;
	font-weight: bold;
	font-size: 18px;
}

.proWrap p:nth-child(5) {
	left: 200px;
	top: 67px;
	color: #9A9999;
}

.proWrap p:nth-child(6) {
	left: 320px;
	top: 67px;
	color: #9A9999;
}

.proWrap p:nth-child(7) {
	left: 450px;
	top: 67px;
	color: #9A9999;
}

.proWrap p:nth-child(8) {
	left: 600px;
	top: 67px;
	color: #9A9999;
}

.proWrap p:nth-child(9) {
	left: 750px;
	top: 67px;
	color: #9A9999;
}

#editProfileBtn {
	width: 400px;
	height: 50px;
	margin-left: 50%;
	margin-top: 30px;
	transform: translate(-50%);
	border: 1px #C4C4C4 solid;
	background: #fff;
	border-radius: 15px;
}

.btnWrap {
	margin-top: 50px;
	text-align: center;
}

.firstLineBtn {
	border: 1px solid #E0E0E0;
	width: 100px;
	height: 100px;
	display: inline-block;
	margin-right: 12px;
	border-radius: 25px;
	margin-bottom: 12px;
	background: #37bcda7e;
	cursor: pointer;
}

.secondLineBtn {
	border: 1px solid #E0E0E0;
	width: 100px;
	height: 100px;
	display: inline-block;
	margin-right: 12px;
	border-radius: 25px;
	background: #F9F9F9;
	cursor: pointer;
}

.firstLineBtn img {
	width: 28px;
	height: 28px;
	margin-top: 18px;
}

.firstLineBtn p {
	font-size: 14px;
	margin-top: 10px;
}

.secondLineBtn img {
	width: 28px;
	height: 28px;
	margin-top: 18px;
}

.secondLineBtn p {
	font-size: 14px;
	margin-top: 10px;
}