@charset "UTF-8";

#backBtn {
	width: 28px;
	float: left;
	margin-left: 14%;
	cursor: pointer;
}

.title_h1 {
	margin-left: 50%;
	transform: translate(-50%);
	text-align: center;
	margin-top: 50px;
	font-size: 20px;
}

.subCategory_ul {
	list-style: none;
	width: 500px;
	height: 50px;
	margin: 0;
	padding: 0;
	margin-left: 50%;
	margin-top: 40px;
	transform: translate(-50%);
	text-align: center;
}

.subCategory_ul li {
	float: left;
	width: 49%;
}

#reported {
	color: black;
}

#report {
	color: #9A9999;
}

.listWrap {
	border: 1px solid #fff;
	width: 65%;
	margin: auto;
	margin-top: 10px;
}

.eachListWrap {
	border: 1px solid #fff;
	width: 90%;
	height: 130px;
	margin: auto;
	margin-bottom: 20px;
	position: relative;
	/* cursor: pointer; */
}

.gPhoto {
	width: 80px;
	border-radius: 50px;
	margin-top: 10px;
	float: left;
}

.firstUl {
	margin: 0;
	padding: 0;
	margin-top: 10px;
	width: 70%;
	height: 30px;
	margin-left: 100px;
}

.firstUl li {
	list-style: none;
	height: 30px;
	line-height: 30px;
	float: left;
	margin-right: 10px;
}

.firstUl li:nth-child(2) {
	color: #9A9999;
	font-size: 13px;
}

/* ★ ★ ★ ★ ★ */
.eachListWrap span {
	width: 120px;
	text-align: right;
	position: absolute;
	color: #05AAD1;
	left: 83%;
	top: 20px;
	font-size: 18px;
}

.rcontent {
	margin-left: 100px;
	margin-top: 30px;
	font-size: 15px;
}

.moreIcon {
	position: absolute;
	width: 20px;
	cursor: pointer;
	left: 98%;
	top: 50px;
}

.bcontent {
	color: #9A9999;
	font-size: 14px;
}

.pagingArea ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 500px;
	height: 30px;
	margin-left: 50%;
	margin-top: 40px;
	transform: translate(-50%);
	margin-bottom: 100px;
}

.pagingArea ul li {
	float: left;
	margin-right: 10px;
}

.pagingArea ul li:nth-child(1) {
	margin-left: 30%;
	transform: translate(-30%);
}

.pagingArea ul li a {
	color: #9A9999;
}

.subMenu {
	width: 100px;
	height: 100px;
	background: #F9F9F9;
	text-align: center;
	display: none;
}

.subMenu a {
	font-size: 12px;
	color: #222;
	display: block;
	padding-top: 20px;
	padding-bottom: 15px;
}

.subMenu a:nth-child(2) {
	color: red;
}