@charset "UTF-8";

#backBtn {
	width: 28px;
	float: left;
	margin-left: 14%;
	cursor: pointer;
}

.title_h1 {
	margin-left: 50%;
	transform: translate(-50%);
	text-align: center;
	margin-top: 50px;
	font-size: 20px;
}

.subCategory_ul {
	list-style: none;
	width: 500px;
	height: 50px;
	margin: 0;
	padding: 0;
	margin-left: 50%;
	margin-top: 40px;
	transform: translate(-50%);
	text-align: center;
}

.subCategory_ul li {
	float: left;
	width: 49%;
}

#report{
	color:black;
}
#reported {
	color: #9A9999;
}

.listWrap {
	border: 1px solid #fff;
	width: 65%;
	margin: auto;
	margin-top: 10px;
}

.eachListWrap {
	border: 1px solid #fff;
	border-bottom: 1px solid #9a99994a;
	width: 85%;
	height: 130px;
	margin: auto;
	margin-bottom: 20px;
	position: relative;
	/* cursor: pointer; */
}

.cateName {
	font-size: 14px;
	text-align: center;
	margin: 0;
	border: 1px solid #9A9999;
	color: #9A9999;
	background: #F9F9F9;
	border-radius: 15px;
	padding: 5px;
	margin-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

.firstUl {
	margin: 0;
	padding: 0;
	height: 40px;
}

.firstUl li {
	list-style: none;
	color: #9A9999;
	float: left;
	margin-right: 15px;
	font-size: 14px;
}

.firstUl li:nth-child(2), .firstUl li:nth-child(3), .firstUl li:nth-child(4),
	.firstUl li:nth-child(5) {
	line-height: 40px;
}

.secondUl {
	padding: 0;
}

.secondUl li {
	list-style: none;
	height: 30px;
	line-height: 30px;
}

.secondUl li:nth-child(2) {
	color: #9A9999;
	font-size: 13px;
}

.moreIcon {
	position: absolute;
	width: 20px;
	top: 13px;
	left: 98%;
	cursor: pointer;
}

.bcontent {
	color: #9A9999;
	font-size: 14px;
}

.pagingArea ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 500px;
	height: 30px;
	margin-left: 50%;
	margin-top: 40px;
	transform: translate(-50%);
	margin-bottom: 100px;
}

#pageArea{
    margin-top: 3%;
    color: #9a9999;
    margin-left: 50%;
    transform: translate(-50%);
    display: inline-block;
    margin-bottom:100px;
}

#pageArea a{
	color:#949999;
}

#pageArea a:hover{
    color:  #05aad1;
    cursor: pointer;
}

.subMenu {
	width: 100px;
	height: 50px;
	background: #F9F9F9;
	text-align: center;
	display: none;
	margin-left:98%;
	margin-top:-65px;
}

.subMenu a {
	font-size: 12px;
	color: #222;
	display: block;
	padding-top: 20px;
	padding-bottom: 15px;
}

.subMenu a:nth-child(1) {
	color: red;
}

#textWrap{
	width:400px;
	height:100px;
	border-top:1px solid #ccd1d3;
	border-bottom:1px solid #ccd1d3;
	margin-top:100px;
	margin-bottom:300px;
	text-align:center;
	margin-left:50%;
	transform:translate(-50%);
}

#NullListText{
	color:#ccd1d3;
	line-height:100px;
}