
@charset "UTF-8";
.all{
    position: relative;
    top:25%;
}
#ts{
    
    font-size: 30px;
    border: black;
    text-align: center;

}

/*제목*/
#ts1{
    padding-left: 15%;
    font-size: 20px;
    display: inline-block;
}
/*제목 칸*/
#btitle{
width: 350px;
height: 35px;
border-radius: 10px;
}
/*이미지*/
.ts2{
    display: inline-flex;
    float:right;
    position: relative;
    bottom: 15px;
    right: 10px;
}
.ts2 img{
    position: relative;
    right: 44%;
    top: 25px;

    width: 290px;
height: 200px;
}
/*이미지파일*/
#images{
position: relative;
    left:90px;
}
#ts4{
	position: relative;
    left: 80px;
}
/*카테고리이름*/
#catagory{
    
    position:relative;
    left: 15%;
    top: 50px;
display: flex;
font-size: 20px;

}


/*내용*/
#history{
    text-align: center;
    position:relative;
  bottom: 70px;
    left: 15%;
}
#ts3{
    font-size: 25px;
    position:relative;
    left: 15%;
    bottom:60px;
}
#board_catagory div{
    position:relative;
    left: 21%;
    top: 10px;
    display: inline;
    width: 130px;
    height: 50px;
    padding: 8px 20px 8px 13px;
    border-radius: 10px;
    border: solid 1px #c4c4c4;
    background-color: #ffffff;
    font-size: 15px;
    margin-right: 3%;
}


#writeBtn{
    position:relative;
    margin-bottom: 5%;
    right: 17%;
    margin-left: 23%; 
    display: inline-block;
     width: 130px;
     height: 45px;
     border-radius: 27px;
     font-size: 14px;
     background-color: #000000;
     border: 0px;
   color : white;
} 