
@font-face {
   font-family: 'Jal_Onuel';
   src:
      url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff')
      format('woff');
   font-weight: normal;
   font-style: normal;
}

* {
   font-family: 'Jal_Onuel' !important;
}

#backBtn {
   width: 28px;
   float: left;
   margin-left: 14%;
   cursor: pointer;
}

.title_h1 {
   margin-left: 50%;
   transform: translate(-50%);
   text-align: center;
   margin-top: 50px;
   font-size: 20px;
}

.townserch {
   text-align: center;
}

#townbox {
   width: 500px;
   height: 35px;
   margin-bottom: 50px;
   border: 3px solid #05AAD1;
   border-radius: 25px;
   font-size: 14px;
   padding-left: 30px;
   color: #05AAD1;
}

#townbutton {
   margin-top: 33px;
   background: black;
   color: white;
   border-radius: 27px;
   width: 70px;
   height: 39px;
   font-size: 14px;
   font-weight: bold;
   border: 0px;
}

.categorys {
   list-style: none;
   width: 800px;
   height: 50px;
   margin: 0;
   padding: 0;
   margin-left: 50%;
   margin-top: 30px;
   transform: translate(-50%);
   text-align: center;
}



.title2 {
   margin: 3% 44% 10% 41%;
   font-style: boild;
   font-size: 30px;
}
/**/
#sub_board {
   color: #222;
}

#sub_shop, #sub_goods {
   color: #9A9999;
}

.list {
   text-align: center;
   border: 1px solid #fff;
   width: 65%;
   margin: auto;
   margin-top: 7%;
}

#list {
   
}
#sublist{
   
}
.subject {
   
    margin-left: 18%;
    height: 27px;
    width: 75px;
    /* padding-left: 81%; */
    font-size: 11px;
    /* text-align: center; */
    border: 1px solid #9A9999;
    color: #9A9999;
    background: #F9F9F9;
    border-radius: 15px;
    padding: -6px;
    /* padding-right: 7%; */
    margin-top: 1%;
    
}





#propil {

}

.title {

  
margin-right: 50%;
    font-size: 24px;
    color: #222;

}

.bcontent {
   padding: 10% 25% 10% 35%;
   margin: 0;
   font-size: 30px;
   color: #696666d0;
   font-size: 18px;
   padding-left: 13%;
    padding-bottom: 14%;
}

.page {
   font-size: 20px;
   margin: 3% 0 0 5%;
}

.Photo {
       width: 112px;
    height: 106px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 76%;
}

.name {
margin-top: -9%;
    margin-right: 57%;
   color: black;
   font-size: 24px;
}

.Date {
    margin-right: 53%;
   color: #696666d0;
}

.filter:hover {
   color: black;
}

#police {
   font-size: 18px;
   color: red;
}

#mypass {
   font-size: 18px;
   color: gray;
}

#board {
   display: inline-block;
       margin-top: 11%;
}
.heart{
   background-color: white;
    border: white;
}
#hearts {
   margin-top: 20%;
    margin-bottom: -23%;
    margin-left: 66%;
}

.heartstory {
   font-size: 14px;
   color: #696666d0;
}
#heartlike{
   background-color: white;
    border: 1px;
}
#heartCancel{
   background-color: white;
    border: 1px;
}
.subdate {
   
}

/*댓글*/
#replySection {
   background-color: #fafafa;
   width: 80%;
   margin: auto;
}

#replySection td {
   width: 33%;
   padding-bottom: 23px;
   padding-left: 50px;
}

#replySection tr:nth-child(odd) {
   color: #9a9999;
}

#replyWrite {
   width: 95%;
   margin: auto;
   margin-top: 2%;
}

#replyWrite textarea {
   width: 100%;
   height: 90px;
   resize: none;
   background: none;
   border: 1px solid #75757552;

   /* display: inline-block; */
}

#writeBtn {
   margin-left: 93%;
   display: inline-block;
   width: 100px;
   height: 35px;
   border-radius: 27px;
   font-size: 14px;
   background-color: #000000;
   border: 0px;
   color: white;
}

.deleteReply {
   margin-left: -66%;
}

#pass {
   padding-left: 81%;
}
